.title {
    color: white;
    text-align: center;
}
html {
    background-image: url(./gifs/flames.gif);
    background-size: 10%;
}
.main {
    border: 3px white solid;
    background-color: rgba(41, 0, 69, 0.95);
    font-family: main;
    max-width: 1000px;
    margin: auto;
    max-height: auto;
    font-size: 22px;
    color: white;
    text-align: center;
}
.nav {
    font-family: main;
    max-width: 950px;
    margin: auto;
    color: white;
    word-spacing: 20%;
}
@font-face {
    font-family: main;
    src: url(./fonts/VT323-Regular.ttf);
}